/* Generel CSS for hele siden */
*{
    box-sizing: border-box;
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Sulphur Point", sans-serif;
    color: #4C3B3B;
    font-weight: 400;
    font-style: normal;
    background-color: rgba(245, 238, 228, 0.5);
}


/* Styling Navbar START */
.navbar{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  
  
  #navbar-logo{
    width: 9.5rem;
    grid-column-start: 3;
    justify-self: center;
    grid-row-start: 1;
    grid-row-end: span 2;
    align-self: center;
    padding-top: 3%; 
  }
  
  #navbar-waves{
    grid-column-start: 1;
    grid-column-end: span 5;
    width: 100%;
    grid-row-start: 3;
    align-self: self-end;
    height: 3rem;
    overflow: hidden;
  }
  
  .navbar-icons{
    grid-column-start: 5;
    grid-row-start: 1;
    align-self: center;
    justify-self: end;
  }
  
  #navbar-styling-element{
    grid-column: 1 / span 5;
    grid-row-start: 4;
    color: rgba(245, 238, 228, 1);
  }
  
  #navbar-link1{
    color: #0000FF;
    grid-column: 2 / span 2;
    align-self: center;
    justify-self: center;
    grid-row-start: 4;
  }
  
  #navbar-link2{
    color: #0000FF;
    grid-column: 3 / span 2;
    align-self: center;
    justify-self: center;
    grid-row-start: 4;
  }
  
  
  #navbar-link3{
    grid-column-start: 5;
    grid-row-start: 4;
    justify-self: self-end;
    align-self: center;
  }
  
  .navbar > :nth-child(4) {
    background-color: rgba(245, 238, 228, 1);
    grid-column: 1 / span 5;
  }
  
  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 0,
    'opsz' 24;
    color: #4C3B3B;
    margin: 0 .5rem;
  }
  
  
  /* Styling af dropdown menu */
  
  .dropdown-content {
    display: none; /*sørger for at dropdown ikke vises hele tiden */
  } 
  
  #navbar-link2:hover + .dropdown-content{
  display: block; /*viser dropdown ved hover */
  } 
  
  
  .dropdown-content {
    color: #0000FF;
    grid-column: 3 / span 2;
    align-self: start;
    justify-self: center;
    grid-row-start:4;
  }
  
  .dropdown-content {
    position: absolute;
    top: 20em;
    right: 31em;
    z-index: 1000;
    list-style-type: none;
  }
  
  .dropdown-content {
    background-color: rgba(245, 238, 228, 1);
    padding: 10px;
  }
  
  .dropdown-content li a {
    text-align: center;
    color: #0000FF;
  
    display: block;
    padding: 10px;
    font-size: 0.75em;
   }
  
   .dropdown-content li a:hover {
    color: #4C3B3B;
   }
  
   /* Styler så den ikke ændre farver efter klik */
  
   .navbar-link:focus {
    outline: none; /* Remove the default focus outline */
  }
  
  .navbar-link:focus,
  .navbar-link:active {
    color: #0000FF; /* Use the same color as the parent element */
  }
  
  
  /* Styling navbar SLUT */






/* Styling main */


/* overskrift */
.overskrift {
display: flex;
align-items: center;
justify-content: center;
font-size: 1.7rem;
}

/* h2 plus whitebox */
.favoritter {
    background-color: white;
    margin-left: 18%;
    margin-right: 18%;
    padding: 1rem;
}

h2 {
    font-size: 1.5rem;
    text-align: left;
    margin: 1rem;font-weight: 100;

}

h3 {
    font-size: 1.3rem;
}

/* Styling så elementerne står ved siden af hinanden ved oplevelseskassen */
.oplevelse-kasse {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}

.container1 {
    display: flex;
    flex-direction: row;
}

.tilføj, #tilføj {
    margin-top: 1rem;
}

.tilføj {
    margin-left: 22rem; 
    margin-right: 1rem;
}

.section p {
    margin-top: -1rem;
}

/* Styling så elementerne står ved siden af hinanden ved ingredienskassen */
.ingredienskasse {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}

.container2 {
    display: flex;
    flex-direction: row;
}

.tilføj1, #tilføj1 {
    margin-top: 1rem;
}

.tilføj1 {
    margin-left: 22rem; 
    margin-right: 1rem;
}

.section1 p {
    margin-top: -1rem;
}

/* Styling så elementerne står ved siden af hinadne ved spisepindene */
.spisepinde {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    margin-top: 2rem;
}

.container3 {
    display: flex;
    flex-direction: row;
}

.tilføj2, #tilføj2 {
    margin-top: 1rem;
}

.tilføj2 {
    margin-left: 27.5rem; 
    margin-right: 1rem;
}

.section2 p {
    margin-top: -1rem;
    margin-left: 3.5rem;
}

.container3 h3 {
    margin-left: 3.5rem;
}

/* Styling så elementerne står ved siden af hinanden ved tanget */
.dehydreret-tang {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}

.container4 {
    display: flex;
    flex-direction: row;
}

.tilføj3, #tilføj3 {
    margin-top: 2.5rem;
}

.tilføj3 {
    margin-left: 24rem; 
    margin-right: 1rem;
}

.section3 p {
    margin-top: -1rem;
    margin-left: 2rem;
}

.container4 h3 {
    margin-left: 2rem;
    width: 10rem;
    margin-top: 2.5rem;
}


/* Styling af images */
img {
    width: 20%;
    height: 20%;
    margin: 2rem;
}

.spisepinde {
    width: 25%;
    margin-left: 3rem;
}

.dehydreret-tang {
    width: 35%;
    margin-left: 2rem;
}

/* Styling af tilføj knap og hjerte */
.material-symbols-outlined {
    color:#0000FF;
    width: 10%;
}

.tilføj, .tilføj1, .tilføj2, .tilføj3 {
    color: #4C3B3B;
    text-decoration: underline;
    font-size: 1.5rem;
}

 /* Styling af footer */
 /* Styling af billede i footer */
    .footer img {
        width: 100%;
        transform: rotate(180deg);
        margin: 0;
    }

 .footer {
    display: flex;
    flex-direction: column;
    background-color: #F5EEE4;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
 }

 .stor-container {
    display: flex;
    flex-direction: row;
 }

 .stor-container ul {
    list-style: none;
    line-height: 1.5rem;
    padding: 1rem 8.5rem;
 }

 .stor-container h4 {
    margin: 0; 
 }

 /* Styling af nyhedsbrev */
 .nyhedsbrev {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 input[type="email"] {
    padding: 5px;
    border: 1px solid #4C3B3B; 
    background-color: #FAF6F2;
    font-family: inherit;
 }

 button {
    padding: 5px;
    border: 1px solid #4C3B3B;
    background-color: #F5EEE4;
    cursor: pointer;
    font-family: inherit;
    margin: 0 5px;
 }


 /* Styling af socials */
 footer .socials {
    padding: 1rem;
    color: #4C3B3B;
 }

 .socials {
    margin-left: -1.8rem;
 }

 .socials a {
    font-size: 25px;
    color: inherit;
    line-height: 38px;
    display: inline-block;
    border-radius: 50%;
    padding: 0 15px;
    color: #0000FF;
 }








