*{
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  
  body {
      font-family: "Sulphur Point", sans-serif;
      background-color: #f8f6f0; 
      color: #4C3B3B;
      height: 100vh;
    }
 
    /* styling af kontakt overskrift */
    h1 {
        text-align:center;
        margin-top: 5%;
        font-size: 3rem;
    }

    h2 {
        margin: 3%;
        text-align: center;
        font-size: 2rem;
        font-weight: 100;
    }

    p {
        color: #0000FF;
        margin-top: 3%;
        margin-left: 14.5%;
        font-size: 1.2rem;
    }

    /* insta container */

    .insta-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 13%;
        margin-top: 5%;
    }

   .insta1{
    width: 28%;
   }

   .insta2{
    width: 30.4%;
   }
 
   /* kontakt-banner */
   .banner1 {
    background-color: white;
    margin : 14%;
    color: #4C3B3B;
   }

   a {
    color: #4C3B3B;
    text-decoration: underline;
   }


   /* faqbanner */
   .faq-img {
    width: 10%;
   }

   /* mailbanner */
   .mail-img {
    width: 10%;
   }
 
 /* Styling af footer */
 .footer {
    display: flex;
    flex-direction: column;
    background-color: #F5EEE4;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
 }

 .stor-container {
    display: flex;
    flex-direction: row;
 }

 .stor-container ul {
    list-style: none;
    line-height: 1.5rem;
    padding: 1rem 8.5rem;
 }

 .stor-container h4 {
    margin: 0; 
 }

 /* Styling af nyhedsbrev */
 .nyhedsbrev {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 input[type="email"] {
    padding: 5px;
    border: 1px solid #4C3B3B; 
    background-color: #FAF6F2;
    font-family: inherit;
 }

 button {
    padding: 5px;
    border: 1px solid #4C3B3B;
    background-color: #F5EEE4;
    cursor: pointer;
    font-family: inherit;
    margin: 0 5px;
 }


 /* Styling af socials */
 footer .socials {
    padding: 1rem;
    color: #4C3B3B;
 }

 .socials {
    margin-left: -1.8rem;
 }

 .socials a {
    font-size: 25px;
    color: inherit;
    line-height: 38px;
    display: inline-block;
    border-radius: 50%;
    padding: 0 15px;
    color: #0000FF;
 }