/* Generel CSS for hele siden */
*{
    box-sizing: border-box;
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Sulphur Point", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgba(245, 238, 228, 0.5);
}

/* Styling Navbar START */
.navbar{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  
  
  #navbar-logo{
    width: 9.5rem;
    grid-column-start: 3;
    justify-self: center;
    grid-row-start: 1;
    grid-row-end: span 2;
    align-self: center;
    padding-top: 3%; 
    cursor: pointer;
  }
  
  #navbar-waves{
    grid-column-start: 1;
    grid-column-end: span 5;
    width: 100%;
    grid-row-start: 3;
    align-self: self-end;
    height: 3rem;
    overflow: hidden;
  }
  
  .navbar-icons{
    grid-column-start: 5;
    grid-row-start: 1;
    align-self: center;
    justify-self: end;
  }
  
  #navbar-styling-element{
    grid-column: 1 / span 5;
    grid-row: 4;
    align-self: center;
    height: 100%;
    color: rgba(245, 238, 228, 1);
  }
  
  #navbar-link1{
    color: #0000FF;
    grid-column: 2 / span 2;
    align-self: center;
    justify-self: center;
    grid-row-start: 4;
  }
  
  #navbar-link2{
    color: #0000FF;
    grid-column: 3 / span 2;
    align-self: center;
    justify-self: center;
    grid-row-start: 4;
  }
  
  
  #navbar-link3{
    grid-column-start: 5;
    grid-row-start: 4;
    justify-self: self-end;
    align-self: center;
  }
  
  .navbar > :nth-child(4) {
    background-color: rgba(245, 238, 228, 1);
    grid-column: 1 / span 5;
  }
  
  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 0,
    'opsz' 24;
    color: #4C3B3B;
    margin: 0 .5rem;
  }
  
  
  /* Styling af dropdown menu */
  
  .dropdown-content {
    display: none; /*sørger for at dropdown ikke vises hele tiden */
  } 
  
  #navbar-link2:hover + .dropdown-content{
  display: block; /*viser dropdown ved hover */
  } 
  
  
  .dropdown-content {
    color: #0000FF;
    grid-column: 3 / span 2;
    align-self: start;
    justify-self: center;
    grid-row-start:4;
  }
  
  .dropdown-content {
    position: absolute;
    top: 18em;
    right: 33em;
    z-index: 1000;
    list-style-type: none;
  }
  
  .dropdown-content {
    background-color: rgba(245, 238, 228, 1);
    padding: 10px;
  }
  
  .dropdown-content li a {
    text-align: center;
    color: #0000FF;
  
    display: block;
    padding: 10px;
    font-size: 0.75em;
   }
  
   .dropdown-content li a:hover {
    color: #4C3B3B;
   }
  
   /* Styler så den ikke ændre farver efter klik */
  
   .navbar-link:focus {
    outline: none; /* Remove the default focus outline */
  }
  
  .navbar-link:focus,
  .navbar-link:active {
    color: #0000FF; /* Use the same color as the parent element */
  }
  
  
  /* Styling navbar SLUT */

/* Filter */


/* Main section */
main{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
}

/* De forskellige pakker */
#oplevelsespakke{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: #4C3B3B;
    grid-column-start: 2;
    width: 100%;
    height: 29rem;
    margin-top: 2rem;
    justify-self: center;
}



/* Styling af pop-up */
:modal{
    width: 70rem;
    height: auto;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr);
    border: none;
}

:modal i{
    grid-column: 10;
    justify-self: end;
    
}

:modal h2{
    grid-row: 1;
    grid-column: 1 / span 4;
    align-self: start;
    font-size: 2rem;
}

:modal ul{
    grid-column: 1 / span 4;
    grid-row: 1;
    align-self: center;
    display: flex;
    justify-self: flex-start;
    list-style: none;
    padding: 0;
    margin: 0;
}

:modal ul li{
    margin-right: 2rem;
}

.popup-link{
    color: #4b3b3a;
}

:modal ul li a.hovered,
:modal ul li a.clicked {
    text-decoration: underline;
}

#oplevelsespakke-kryds{
    cursor: pointer;
}

#bestil-tekst{
    grid-column: 7 / span 3;
    grid-row: 1;
    padding-top: .7rem;
}

#pris{
    font-size: 3rem;
}

#bestil-knap{
    grid-column: 9;
    grid-row: 1;
    height: 3rem;
    width: 5.5rem;
    font-size: 2rem;
    justify-self: center;
    font-weight: lighter;
    border: none;
    margin-top: 1.7rem;
    margin-right: -12rem;
}

#favoritter-hjerte{
    grid-column: 3;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    padding-bottom: 4.2rem;
    cursor: pointer;
    color: #0000FF;
}

/* Styling af oplevelsespakke containere */
#om-kassen,
#indhold,
#kokken-bag,
#faq{
    display: grid;
    grid-column: 1 / span 10;
    grid-row: 2 / span 5;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(10, 1fr);
    margin-top: -3rem;
}

#indhold-aside,
#kokken-bag-aside,
#faq-aside{
    display: none;
}

/* Seperat styling af "Om Kassen" */
#om-kassen-aside{
    width: 23rem;
    height: 41rem;
    background-color: white;
    margin-left: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

#om-kassen-aside h3{
    grid-column: 1 / span 3;
    justify-self: center;
}

#om-kassen-horizontal-line{
    border-top: 1px solid;
    grid-row-start: 2;
    grid-column: 1 / span 3;
    justify-self: center;
    width: calc((100% / 10) * 8);
}

#person-ikon{
    font-size: 2.5rem;
    grid-column: 1 / span 2;
    grid-row: 2 / span 2;
    justify-self: center;
    align-self: center;
}

#person-tekst{
    font-size: 1rem;
    grid-column: 1 / span 2;
    grid-row: 3;
    justify-self: center;
    align-self: end;
}

#alarm-ikon{
    font-size: 2.5rem;
    grid-column: 2 / span 2;
    grid-row: 2 / span 2;
    justify-self: center;
    align-self: center;
}

#alarm-tekst{
    font-size: 1rem;
    text-align: center;
    grid-column: 2 / span 2;
    grid-row: 3;
    justify-self: center;
    align-self: end;
}

#om-kassen-beskrivelse{
    grid-column: 1 / span 3;
    grid-row: 4 / span 3;
    padding-left: 1rem;
    line-height: 1.2rem;
}

#om-kassen-bestil{
    grid-column: 1 / span 3;
    grid-row: 7 / span 2;
    padding-left: 1rem;
    line-height: 1.2rem;
}

#om-kassen-aside img{
    width: 75%;
    grid-row: 9 / span 2;
    justify-self: center;
    align-self: end;
}

/* Seperat styling af "Indhold" */
#indhold-aside{
    width: 23rem;
    height: 41rem;
    background-color: white;
    margin-left: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

#raavarer-h3{
    grid-row: 1;
    grid-column: 1;
    align-self: start;
    padding-left: 1rem;
}

#raavarer-ul{
    display: block;
    grid-row: 2 / span 5;
    list-style: circle;
    grid-column: 1 / span 3;
    justify-self: center;
}

#redskaber-h3{
    grid-row: 7;
    grid-column: 1;
    padding-left: 1rem;
    padding-top: 1rem;
}

#redskaber-ul{
    display: block;
    grid-row: 7 / span 2;
    list-style: circle;
    grid-column: 1 / span 2;
    justify-self: center;
    padding-top: 3rem;
}

#drikkevarer-h3{
    grid-row: 9;
    grid-column: 1;
    padding-left: 1rem;
}

#drikkevarer-ul{
    display: block;
    grid-row: 9 / span 2;
    list-style: circle;
    grid-column: 1 / span 3;
    justify-self: center;
}


/* Seperat styling af "Kokken Bag" */
#kokken-bag-aside{
    width: 23rem;
    height: 41rem;
    background-color: white;
    margin-left: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

#kokken-bag h3{
    grid-column: 1 / span 3;
    justify-self: center;
    font-weight: lighter;
    font-size: 1.5rem;
}

#facts{
    grid-row: 2;
    grid-column: 1;
    justify-self: center;
}

#kokken-bag ul{
    grid-row: 2 / span 3;
    align-self: center;
    display: block;
    list-style: circle;
    padding-left: 4rem;
}

#titel{
    grid-row: 5;
    grid-column: 1 / span 2;
    justify-self: center;
    width: calc((100% / 10) * 6.5);
}

#udtalelse-1{
    grid-row: 5 / span 3;
    grid-column: 1 / span 3;
    justify-self: center;
    padding-top: 2.5rem;
    max-width: 18rem;
}

#udtalelse-2{
    grid-row: 7 / span 2;
    grid-column: 1 / span 3;
    justify-self: center;
    padding-top: 2rem;
}


/* Seperat styling af "FAQ" */
#faq-aside{
    width: 23rem;
    height: 41rem;
    background-color: white;
    margin-left: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

#spoergsmaal-1{
    font-size: .8rem;
    grid-column: 1 / span 3;
    grid-row: 1;
    padding-left: .5rem;
}

#svar-1{
    font-size: .8rem;
    grid-column: 1 / span 3;
    grid-row: 1;
    list-style: circle;
    padding-top: 1.6rem;
    padding-left: 1.5rem;
}

#spoergsmaal-2{
    font-size: .8rem;
    grid-column: 1 / span 3;
    grid-row: 2;
    padding-left: .5rem;
}

#svar-2{
    font-size: .8rem;
    grid-column: 1 / span 3;
    grid-row: 2;
    list-style: circle;
    padding-left: 1.5rem;
}

#spoergsmaal-3{
    font-size: .8rem;
    grid-column: 1 / span 3;
    grid-row: 3;
    padding-left: .5rem;
}

#svar-3{
    font-size: .8rem;
    grid-column: 1 / span 3;
    grid-row: 3;
    list-style: circle;
    padding-left: 1.5rem;
}

#spoergsmaal-4{
    font-size: .8rem;
    grid-column: 1 / span 3;
    grid-row: 4;
    padding-left: .5rem;
}

#svar-4{
    font-size: .8rem;
    grid-column: 1 / span 3;
    grid-row: 4;
    list-style: circle;
    padding-left: 1.5rem;
}

#spoergsmaal-5{
    font-size: .8rem;
    grid-column: 1 / span 3;
    grid-row: 5;
    padding-left: .5rem;
}

#svar-5{
    font-size: .8rem;
    grid-column: 1 / span 3;
    grid-row: 5;
    list-style: circle;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
}

#spoergsmaal-6{
    font-size: .8rem;
    grid-column: 1 / span 3;
    grid-row: 6;
    padding-left: .5rem;
}

#svar-6{
    font-size: .8rem;
    grid-column: 1 / span 3;
    grid-row: 6;
    list-style: circle;
    padding-left: 1.5rem;
}



#hverdagspakke{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: #4C3B3B;
    grid-column-start: 4;
    width: 100%;
    height: 29rem;
    margin-top: 2rem;
    justify-self: center;
}

#redskabspakke{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: #4C3B3B;
    grid-column-start: 2;
    width: 100%;
    height: 29rem;
    margin-top: 2rem;
    justify-self: center;
}

#ingredienspakke{
    display: flex;
    flex-direction: column;
    align-items: center;;
    grid-template-columns: auto;
    background-color: white;
    color: #4C3B3B;
    grid-column-start: 4;
    width: 100%;
    height: 29rem;
    margin-top: 2rem;
    justify-self: center;
}

#oplevelsespakke img,
#hverdagspakke img,
#redskabspakke img,
#ingredienspakke img{
    width: 60%;
    justify-self: center;
    margin-top: 0.5rem;
}

#oplevelsespakke h2,
#hverdagspakke h2,
#redskabspakke h2,
#ingredienspakke h2{
    justify-self: center;
    font-size: 2rem;
    text-transform: uppercase;
}

#oplevelsespakke p,
#hverdagspakke p,
#redskabspakke p,
#ingredienspakke p{
    justify-self: center;
    font-size: 1rem;
    max-width: 15rem;
}

.btn {
    margin-right: 8rem;
    width: 30%;
    height: 2rem;
    border-radius: 100px;
    border-color: #FEDBFA;
    font-family: inherit;
    font-size: 1rem;
    font-weight: lighter;
    background-color: rgba(245, 238, 228, 1);
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    border: none;
    color: #4C3B3B ;
 }

  /* Styling af footer */
  /* Styling af billede i footer */
    .footer img {
        width: 100%;
        transform: rotate(180deg);
    }
    
  .footer {
    display: flex;
    flex-direction: column;
    background-color: #F5EEE4;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
 }

 .stor-container {
    display: flex;
    flex-direction: row;
 }

 .stor-container ul {
    list-style: none;
    line-height: 1.5rem;
    padding: 1rem 8.5rem;
 }

 .stor-container h4 {
    margin: 0; 
 }

 /* Styling af nyhedsbrev */
 .nyhedsbrev {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 input[type="email"] {
    padding: 5px;
    border: 1px solid #4C3B3B; 
    background-color: #FAF6F2;
    font-family: inherit;
 }

 button {
    padding: 5px;
    border: 1px solid #4C3B3B;
    background-color: #F5EEE4;
    cursor: pointer;
    font-family: inherit;
    margin: 0 5px;
 }


 /* Styling af socials */
 footer .socials {
    padding: 1rem;
    color: #4C3B3B;
 }

 .socials {
    margin-left: -1.8rem;
 }

 .socials a {
    font-size: 25px;
    color: inherit;
    line-height: 38px;
    display: inline-block;
    border-radius: 50%;
    padding: 0 15px;
    color: #0000FF;
 }