/* Generel CSS for hele siden */
*{
    box-sizing: border-box;
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Sulphur Point", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgba(245, 238, 228, 0.5);
}

/* Hero section */
.hero{
    height: 100vh;
    background-color: rgba(245, 238, 228, 0.5);
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

.hero-content-1{
    display: grid;
    align-items: center;
}

#hero-logo{
    width: 9rem;
    grid-column-start: 3;
    justify-self: center;
    grid-row-start: 1;
    grid-row-end: span 2;
    align-self: center;
}

#hero-waves-1{
    grid-column-start: 1;
    grid-column-end: 5;
    width: 100%;
    grid-row-start: 2;
    align-self: flex-end;
    width: auto;
    height: 3rem;
}



.hero-icons{
    grid-column-start: 5;
    grid-row-start: 1;
    align-self: center;
    justify-self: end;
}

#hero-menupunkt-1{
    grid-column-start: 2;
    grid-column-end: span 2;
    grid-row-start: 3;
    justify-self: center;
    align-self: center;
    font-size: 1.5rem;
}

#hero-menupunkt-2{
    grid-column-start: 3;
    grid-column-end: span 2;
    grid-row-start: 3;
    justify-self: center;
    align-self: center;
    font-size: 1.5rem;
}

#hero-menupunkt-3{
    grid-column-start: 5;
    grid-row-start: 3;
    justify-self: end;
    align-self: center;
}

#hero-billede{
    grid-column-start: 1;
    grid-column-end: span 5;
    grid-row-start: 4;
    width: 100%;
}

.hero h1{
    grid-row-start: 5;
    grid-column-start: 2;
    grid-column-end: span 3;
    justify-self: center;
    font-size: 3rem;
    color: #4C3B3B;
}

.hero p{
    grid-row-start: 6;
    grid-column-start: 1;
    grid-column-end: span 5;
    justify-self: center;
    text-align: center;
    font-size: 1.7rem;
    color: #4C3B3B;
}

#hero-pil{
    grid-row-start: 10;
    grid-column-start: 3;
    justify-self: center;
}

/* Navbar */
.navbar{
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    background-color: rgba(245, 238, 228, 1);
    color: white;
}

.brand-title img{
    width: 4rem;
    height: auto;
    margin-left: 2rem;
}

.navbar-links{
    justify-self: center;
}

.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li{
    list-style: none;
    margin: 0 0 0 5rem;
    padding: 0 3rem;
}

.navbar-links li a{
    text-decoration: none;
    color: #0000FF;
    padding: 1rem;
    display: block;
    font-size: 1.1rem;
}

.navbar-links li a:hover{
    transform: scale(1.2);
}

.navbar-icons{
    margin: 0 2rem;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 24;
  color: black;
  margin: 0 .5rem;
}

/* Main section */
#main-content{
    display: grid;
}

/* Oplevelsespakke teaser */
.oplevelsespakke-teaser{
    background-color: rgba(245, 238, 228, 1);
    width: 95%;
    height: 20rem;
    margin-top: 2rem;
    justify-self: center;
}

/* Tekst på midten af siden */
.middle-text{
    color: #0000FF;
    justify-self: center;
    text-align: center;
    font-size: 1.5rem;
    font-weight: lighter;
}

/* Knap på midten af siden */
.btn {
    width: 20%;
    justify-self: center;
    border-radius: 100px;
    border-color: #FEDBFA;
    font-family: inherit;
    font-size: 1rem;
    font-weight: lighter;
    padding: .5rem 0;
    background-color: rgba(245, 238, 228, 1);
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    border: none;
    color: #0000FF ;
 }

 /* Mix din egen ramen bowl */
 .ramen{
    background-color: rgba(245, 238, 228, 1);
    width: 95%;
    height: 15rem;
    margin-top: 2rem;
    justify-self: center;
 }

 /* Styling af footer */
 .footer {
    display: flex;
    flex-direction: column;
    background-color: #F5EEE4;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
 }

 .stor-container {
    display: flex;
    flex-direction: row;
 }

 .stor-container ul {
    list-style: none;
    line-height: 1.5rem;
    padding: 1rem 8.5rem;
 }

 .stor-container h4 {
    margin: 0; 
 }

 /* Styling af nyhedsbrev */
 .nyhedsbrev {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 input[type="email"] {
    padding: 5px;
    border: 1px solid #4C3B3B; 
    background-color: #FAF6F2;
    font-family: inherit;
 }

 button {
    padding: 5px;
    border: 1px solid #4C3B3B;
    background-color: #F5EEE4;
    cursor: pointer;
    font-family: inherit;
    margin: 0 5px;
 }


 /* Styling af socials */
 footer .socials {
    padding: 1rem;
    color: #4C3B3B;
 }

 .socials {
    margin-left: -1.8rem;
 }

 .socials a {
    font-size: 25px;
    color: inherit;
    line-height: 38px;
    display: inline-block;
    border-radius: 50%;
    padding: 0 15px;
    color: #0000FF;
 }
