*{
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  
  body {
      font-family: "Sulphur Point", sans-serif;
      background-color: #f5eee4; 
      color: #4C3B3B;
      height: 100vh;
    }

/* Styling af navbar */

/* Navbar */
.navbar{
    background-color: rgba(245, 238, 228, 0.5);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  
  #navbar-logo{
    width: 7.5rem;
    grid-column-start: 3;
    justify-self: center;
    grid-row-start: 1;
    grid-row-end: span 2;
    align-self: center;
  }
  
  #navbar-waves{
    grid-column-start: 1;
    grid-column-end: span 5;
    width: 100%;
    grid-row-start: 3;
    align-self: self-start;
    height: 3rem;
    overflow: hidden;
  }
  
  .navbar-icons{
    grid-column-start: 5;
    grid-row-start: 1;
    align-self: center;
    justify-self: end;
  }
  
  #navbar-menupunkt-1{
    grid-column-start: 2;
    grid-column-end: span 2;
    grid-row-start: 4;
    justify-self: center;
    align-self: self-start;
    font-size: 1.3rem;
    color: #0000FF;
  }
  
  #navbar-menupunkt-2{
    grid-column-start: 3;
    grid-column-end: span 2;
    grid-row-start: 4;
    justify-self: center;
    align-self: self-start;
    font-size: 1.3rem;
    color: #0000FF;
  }
  
  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 0,
    'opsz' 24;
    color: #4C3B3B;
    margin: 0 .5rem;
  }




/* Styling af main */
    
    main {
      text-align: center;
    }
  



    /* Styling af footer */
 .footer {
    display: flex;
    flex-direction: column;
    background-color: #F5EEE4;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
 }

 .stor-container {
    display: flex;
    flex-direction: row;
 }

 .stor-container ul {
    list-style: none;
    line-height: 1.5rem;
    padding: 1rem 8.5rem;
 }

 .stor-container h4 {
    margin: 0; 
 }

 /* Styling af nyhedsbrev */
 .nyhedsbrev {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 input[type="email"] {
    padding: 5px;
    border: 1px solid #4C3B3B; 
    background-color: #FAF6F2;
    font-family: inherit;
 }

 button {
    padding: 5px;
    border: 1px solid #4C3B3B;
    background-color: #F5EEE4;
    cursor: pointer;
    font-family: inherit;
    margin: 0 5px;
 }


 /* Styling af socials */
 footer .socials {
    padding: 1rem;
    color: #4C3B3B;
 }

 .socials {
    margin-left: -1.8rem;
 }

 .socials a {
    font-size: 25px;
    color: inherit;
    line-height: 38px;
    display: inline-block;
    border-radius: 50%;
    padding: 0 15px;
    color: #0000FF;
 }
